<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Staff Details</title>
    <style>
        body {
            text-align: center;
            background-color: rgb(32, 189, 189);
        }

        #context1 {
            padding-top: 2%;
        }

        form:nth-child(even) {
            /* background: lightgreen; */
            padding-left: 2%;
        }
    </style>
</head>

<body>
    <h1>Add Staff</h1>
    <div id="context1"></div>
    <h4>Staff Personal Details</h4>
    <form action="/add_staff" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required max="50">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required max="50"><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required max="50">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required max="8">
        <label for="phone">Phone No:</label>
        <input type="text" id="phone" name="phone" required max="10"><br><br>
        <!-- "A+", "O+", "B+", "AB+", "A-", "O-", "B-", "AB-" -->
        <label for="blood">Blood Group:</label>
        <select name="blood" id="blood">
            <option value="O+">O+</option>
            <option value="A+">A+</option>
            <option value="B+">B+</option>
            <option value="AB+">AB+</option>
            <option value="O-">O-</option>
            <option value="A-">A-</option>
            <option value="B-">B-</option>
            <option value="AB-">AB-</option>
        </select>
        <!-- "Male", "Female", "Other" -->
        <label for="gender">Gender:</label>
        <select name="gender" id="gender">
            <option value="female">Female</option>
            <option value="Male">Male</option>
            <option value="Prefer not to say">Prefer not to say</option>
        </select>
        <label for="emergency">Emergency Contact:</label>
        <input type="text" id="emergency" name="emergency" required max="10"><br><br>
        <h4>Add Address Details Here:</h4>
        <label for="addressLine1">Address Line 1:</label>
        <input type="text" id="addressLine1" name="addressLine1" max="100" required>
        <label for="addressLine2">Address Line 2:</label>
        <input type="text" id="addressLine2" name="addressLine2" max="100" required><br><br>
        <label for="streetNo">Street:</label>
        <input type="text" id="streetNo" name="streetNo" max="20" required>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" max="60" required><br><br>
        <label for="pinCode">Pincode:</label>
        <input type="text" id="pinCode" name="pinCode" max="6" required>
        <label for="state">State:</label>
        <input type="text" id="state" name="state" max="60" required><br><br>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" max="60" required><br><br>
        <input type="submit" value="Add Staff">
    </form>
</body>

</html>