<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            text-align: center;
            background-color: rgb(32, 189, 189);
        }

        #context1 {
            padding-top: 4%;
        }
    </style>
</head>

<body>
    <h1>Welcome to College Management System</h1>
    <div id="context1"></div>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
</body>

</html>